{% extends "layout.html" %}
{% block content %}
    {% for post in posts %}
        {% if post.paid == True %}
        <article class="media paid-section">
        {% else %}
        <article class="media content-section">
        {% endif %}
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.recipient }}</a>
              <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
            </div>
            <h2><a class="article-title" href="{{ url_for('invoice', invoice_id=post.id) }}">{{ post.title }}</a></h2>
            <p class="article-content">${{ post.amount }}</p>
          </b>
          </div>
        </article>
    {% endfor %}
{% endblock content %}